* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


:root {
    --gray: #EDEDE9;
    --light-brown: #E3D5CA;
    --brown: #E3D5CA;
    --warm-brown: #D5BDAF;
    --dark-brown: #D6CCC2;
}

body {
    background-color: var(--off-white);
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--blue);
    color: var(--off-white);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    display: inline-block;
    margin-right: 30vw;
    font-size: 6vw;
    color: var(--off-white);
}

header h2 {
    display: inline-block;
    margin-left: 27vw;
    font-size: 2vw;
    margin-top: 2.5vh;
}

header div {
    display: inline-block;
    justify-content: center;
    margin-right: 20vw;
    margin-left: 20vw;
    font-size: 1.2rem;
    
}

header div ul {
    list-style: none;
    padding: 5px;
}

/* This element targets the li elements within the header ancestor to have proper margin and display */
header div ul li {
    display: inline-block;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-top: 20px;
}

a {
    color: var(--off-white);
    text-decoration: none;
    &:hover {
        color: #ffffff;
    }
}

header p {
    justify-content: center;
    display: flex;
    letter-spacing: 0.03rem;
    margin-top: 7vh;
    /* margin-left: 22vw;
    margin-right: 22vw; */
    max-width: 56vw;
}

.navigation {
    /* makes nav bar persistent on top of the page regardless of scrolling down throughout the page */
    display: flex;
    position: fixed; 
    z-index: 999;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: right;
    align-items: left;
    height: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--gray);
    color: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}

